.row {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

.col-25 {
    flex: 25%;
}

.col-75 {
    flex: 75%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.submit-form-button{
    display: flex;
    justify-content: flex-end;
}

.update-form-button input {
    background-color: #ecba40;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-form-button input:hover {
    background-color: #d59907;
}

.update-form-button{
    display: flex;
    justify-content: flex-end;
}
